---
version: 3
images:
  base_image:
    name: quay.io/rockylinux/rockylinux:9
dependencies:
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  python: meta/ee-requirements.txt
